# X-Max3 config created by Phil1988(github)/coco.33(discord) on 20.12.2024
# For more information check out my wiki: https://github.com/Phil1988/FreeDi/wiki


#####################################################################
# Kinematics
#####################################################################
[printer]
kinematics:corexy
max_velocity: 600
max_accel: 20000
max_z_velocity: 20
max_z_accel: 500
square_corner_velocity: 8


#####################################################################
# Motherboard and periphery
#####################################################################
[temperature_sensor Mainboard_RK3328]
sensor_type: temperature_host
min_temp: 10
max_temp: 100

[mcu]
serial: /dev/ttyS0
restart_method: command
baud: 500000

[temperature_sensor Mainboard_STM32F402]
sensor_type: temperature_mcu
sensor_mcu: mcu

[mcu Toolhead]
serial: /dev/serial/by-id/usb-Klipper_rp2040_55D94D1545705658-if00

[temperature_sensor Toolhead_RP2040]
sensor_type: temperature_mcu
sensor_mcu: Toolhead
min_temp: 0
max_temp: 100


#####################################################################
# Features
#####################################################################
# For saving GCODE files
[virtual_sdcard]
path: ~/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

# For enabling pause/resume
[pause_resume]

# Activating exclude objects feature
[display_status]
[exclude_object]

# Expanding idle timeout
[idle_timeout]
timeout: 5400   ; 90min timeout

# Activating GCODE arc feature
[gcode_arcs]
resolution: 1.0

# Allowing free move (can be dangerous!)
[force_move]
enable_force_move: True

# Activating responses
[respond]
default_type: echo


#####################################################################
# FreeDi
#####################################################################
[include freedi.cfg] 


#####################################################################
# Macros
#####################################################################
[include macros.cfg]

#####################################################################
# LOCAL: shaketune 
#####################################################################
[include shaketune.cfg]

#####################################################################
# Input shaping
#####################################################################
[resonance_tester]
accel_chip:adxl345
probe_points:
    160, 160, 10
accel_per_hz: 75
sweeping_period: 0
max_smoothing: 0.5
    
[adxl345]
cs_pin: Toolhead:gpio13
spi_software_sclk_pin: Toolhead:gpio14
spi_software_mosi_pin: Toolhead:gpio15
spi_software_miso_pin: Toolhead:gpio12
axes_map: -x, z, -y

[input_shaper]
shaper_type_x: 3hump_ei
shaper_freq_x: 87.8
shaper_type_y: mzv
shaper_freq_y: 42.0


#####################################################################
# Hotend
#####################################################################
[extruder]
step_pin: Toolhead:gpio5
dir_pin: Toolhead:gpio4
enable_pin: !Toolhead:gpio10
rotation_distance: 53.5
gear_ratio: 1628:170
microsteps: 16
full_steps_per_rotation: 200
nozzle_diameter: 0.400
filament_diameter: 1.75
min_temp: 0
max_temp: 360
min_extrude_temp: 170
smooth_time: 0.000001
step_pulse_duration:0.000002

heater_pin: Toolhead:gpio0
sensor_type:MAX6675
sensor_pin: Toolhead:gpio17
max_power: 1.0
#control: pid  
#pid_Kp: 24.737
#pid_Ki: 10.994
#pid_Kd: 13.915

spi_speed: 100000
spi_software_sclk_pin: Toolhead:gpio18
spi_software_mosi_pin: Toolhead:gpio19
spi_software_miso_pin: Toolhead:gpio16

pressure_advance: 0.032
pressure_advance_smooth_time: 0.03
max_extrude_cross_section:500
instantaneous_corner_velocity: 10.000
max_extrude_only_distance: 500.0
max_extrude_only_velocity: 5000
max_extrude_only_accel: 2000

[verify_heater extruder]
max_error: 120
check_gain_time: 20
hysteresis: 5
heating_gain: 1


#####################################################################
# Heated bed
#####################################################################
[heater_bed]
heater_pin: PC8
sensor_type: NTC 100K MGB18-104F39050L32
sensor_pin: PA0
max_power: 1.0
#control: pid
#pid_kp: 64.431
#pid_ki: 2.845
#pid_kd: 364.839
min_temp: -50
max_temp: 125
pwm_cycle_time: 0.02 # for 50Hz line power 
#pwm_cycle_time: 0.016 # for 60Hz line power

[verify_heater heater_bed]
max_error: 200
check_gain_time: 360
hysteresis: 5
heating_gain: 1


# #####################################################################
# # Bed mesh
# #####################################################################
# [bed_mesh]
# speed: 150               
# horizontal_move_z: 2.6   
# mesh_min: 28,8        
# mesh_max: 315,310     
# probe_count: 9,9     
# algorithm: bicubic
# bicubic_tension: 0.2
# mesh_pps: 4, 4


#####################################################################
# Probe
#####################################################################
#!# Pay attention to this section and compare it with your stock backup config
# [probe]
# pin: ^!Toolhead:gpio21
# x_offset: 28
# y_offset: 4.4
# #z_offset: 1.549
# speed: 5
# samples: 3
# samples_result: average
# sample_retract_dist: 0.7
# samples_tolerance: 0.08
# samples_tolerance_retries: 3
#####################################################################

#####################################################################
# LOCAL: cartographer 
#####################################################################
[include cartographer.cfg]

#####################################################################
# Heated chamber
#####################################################################
[heater_generic chamber]
heater_pin: PB10
max_power:1.0
sensor_type:NTC 100K MGB18-104F39050L32
sensor_pin: PA1
control: watermark
max_delta: 0.5
min_temp:-100
max_temp:70

[verify_heater chamber]
max_error: 300
check_gain_time:480
hysteresis: 5
heating_gain: 1


########################################
# Filament runout sensor
########################################
[filament_switch_sensor filament]
switch_pin: !PC1
pause_on_runout: True
runout_gcode:
            M118 Filament run out!
event_delay: 3.0
pause_delay: 0.5


#####################################################################
# Fans
#####################################################################
## Part cooling fan 
# [fan_generic partfan]
# pin: Toolhead:gpio2
# max_power: 1.0
# cycle_time: 0.0100
# hardware_pwm: false
# kick_start_time: 0.200
# off_below: 0.08
# shutdown_speed: 0
[fan]
pin: Toolhead:gpio2
max_power: 1.0
cycle_time: 0.0100
hardware_pwm: false
kick_start_time: 0.200
off_below: 0.08
shutdown_speed: 0.0

## Big side radial turbo fan
[fan_generic sidefan]
pin: PA8
max_power: 1.0
cycle_time: 0.0100
hardware_pwm: false
kick_start_time: 0.250
off_below: 0.3
shutdown_speed: 0

## Activated charcoal blowing fan
[fan_generic filterfan]
pin: PC9
max_power: 1.0
cycle_time: 0.0100
hardware_pwm: false
kick_start_time: 0.200
off_below: 0.3
shutdown_speed: 0

## Cold end and toolhead housing fans
[heater_fan hotend_fan]
pin: Toolhead:gpio1
max_power: 1.0
shutdown_speed:1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0
fan_speed: 1.0
off_below: 0

#!# Delete the next section if your stock backup config doesnt have it
# Toolhead cooling fan
[heater_fan hotend_fan2]
pin: Toolhead:gpio20
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0
fan_speed: 1.0
off_below: 0

#!# Delete the next section if your stock backup config doesnt have it
## Controllable Mainboard cooling fan
[temperature_fan Mainboard_fan]
sensor_type: temperature_host 
pin: PC4        
max_power: 1.0  
cycle_time: 0.01
sensor_type: temperature_combined
sensor_list: temperature_sensor Mainboard_RK3328, temperature_sensor Mainboard_STM32F402
combination_method: max                                           # use the maximum reading of the sensors
maximum_deviation: 999.9                                          # we don't care about the difference in temperature
shutdown_speed: 0.0
kick_start_time: 0.4
off_below: 0.19
min_temp: 0
max_temp: 85.0  
target_temp: 42.0
min_speed: 0
max_speed: 1.0
control: pid
pid_deriv_time: 2.0
pid_Kp: 2.0
pid_Ki: 5.0
pid_Kd: 0.5


#####################################################################
# Light
#####################################################################
## caselight LEDs
[output_pin caselight]
pin: PC7
pwm: true
cycle_time: 0.0100
shutdown_value:0
value:1


#####################################################################
# Buzzer
#####################################################################
## Buzzer
[output_pin buzzer]
pin: PA2
pwm: false
shutdown_value:0
value:0

[output_pin sound]
pin: PA13
value:0


#####################################################################
# Power outage shutdown
#####################################################################
[output_pin pwc]
pin: PA3
pwm: False
value: 1
shutdown_value: 1


#####################################################################
# Drives
#####################################################################
[stepper_x]
step_pin: PB4
dir_pin: PB3
enable_pin: !PB5
microsteps: 16
rotation_distance: 39.94
full_steps_per_rotation: 200 
endstop_pin: tmc2209_stepper_x:virtual_endstop
position_min: -5
position_endstop: -5
position_max: 328
homing_speed: 50
homing_retract_dist: 0
homing_positive_dir: False
step_pulse_duration: 0.000002

[stepper_y]
step_pin: PC14
dir_pin: PC13
enable_pin: !PC15
microsteps: 16
rotation_distance: 39.96
full_steps_per_rotation: 200  
endstop_pin: tmc2209_stepper_y:virtual_endstop
position_min: -7.5
position_endstop: -7.5
position_max: 326
homing_speed: 50
homing_retract_dist: 0
homing_positive_dir: False
step_pulse_duration: 0.000002

[stepper_z]
step_pin: PC10
dir_pin: PA15
enable_pin: !PC11
microsteps: 16
rotation_distance: 8
full_steps_per_rotation: 200
endstop_pin: probe:z_virtual_endstop
position_max: 322
position_min: -2
homing_speed: 12
homing_retract_dist: 0
second_homing_speed: 5
homing_positive_dir: false
step_pulse_duration: 0.000002


#####################################################################
# Steppers configuration
#####################################################################
[tmc2209 extruder]
uart_pin: Toolhead:gpio6
interpolate: True
run_current: 0.714             #!# Pay attention to this value and compare it with your stock backup config
# stealthchop_threshold: 0  # LOCAL: not needed with autotune

[tmc2209 stepper_x]
uart_pin: PD2
run_current: 1.07               #!# Pay attention to this value and compare it with your stock backup config
interpolate: True
#stealthchop_threshold: 0 # LOCAL: not needed with autotune
diag_pin: ^PB8
#driver_SGTHRS: 85 # LOCAL: not needed with autotune

[tmc2209 stepper_y]
uart_pin: PB9
run_current: 1.07              #!# Pay attention to this value and compare it with your stock backup config
interpolate: True
#stealthchop_threshold: 0 # LOCAL: not needed with autotune
diag_pin: ^PC0
#driver_SGTHRS: 85

[tmc2209 stepper_z]
uart_pin: PC5
run_current: 0.95              #!# Pay attention to this value and compare it with your stock backup config
interpolate: True
#stealthchop_threshold: 1200 # LOCAL: not needed with autotune

# LOCAL: TMC autotune
[autotune_tmc stepper_x]
motor: qidi-BJ42D29-28V07
sg4_thrs: 85 # Sensorless homing

[autotune_tmc stepper_y]
motor: qidi-BJ42D29-28V07
sg4_thrs: 85 # Sensorless homing

[autotune_tmc stepper_z]
motor: qidi-BJ42D29-22V08

[autotune_tmc extruder]
motor: qidi-BJY36D12-04V13

#####################################################################
# Screws tilt adjust
#####################################################################
[screws_tilt_adjust] 
horizontal_move_z: 5
screw_thread: CCW-M4
speed: 300

screw1: 8,32
screw1_name: front left screw
screw2: 264,32
screw2_name: front right screw
screw3: 264,286
screw3_name: rear right screw
screw4: 8,286
screw4_name: rear left screw

[safe_z_home]
home_xy_position: 162.5, 162.5 # This should be for the CENTRE OF YOUR BED.

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 47.226
#*# pid_ki = 10.856
#*# pid_kd = 51.358
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 46.470
#*# pid_ki = 1.504
#*# pid_kd = 358.979
#*#
#*# [cartographer scan_model default]
#*# coefficients = 1.4873435557211732,1.97105759628726,0.81905141675023,0.3355116819825192,0.5163691662234198,0.6808040860405101,-0.3830111417682328,-0.7059307366706848,0.3609427350226196,0.4204590306155616
#*# domain = 3.2341926634700733e-07,3.391938700852977e-07
#*# z_offset = 0
#*# reference_temperature = 40.91
#*# software_version = 1.5.2
#*# mcu_version = CARTOGRAPHER V4 6.0.0
#*#
#*# [cartographer touch_model default]
#*# threshold = 1148
#*# speed = 2
#*# z_offset = -0.05
#*# software_version = 1.5.2
#*# mcu_version = CARTOGRAPHER V4 6.0.0
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.189780, -0.080106, -0.084716, -0.085850, -0.087030, -0.091653, -0.102124, -0.100937, -0.096291, -0.089341, -0.087030, -0.091653, -0.093974, -0.096291, -0.105586, -0.109110, -0.116116, -0.124339, -0.123135, -0.138450
#*# 	-0.120800, -0.035491, -0.043451, -0.045721, -0.047993, -0.052550, -0.057695, -0.061688, -0.060565, -0.057695, -0.058276, -0.060565, -0.063413, -0.072027, -0.084716, -0.094566, -0.103260, -0.112582, -0.116116, -0.127258
#*# 	-0.116116, -0.021373, -0.027580, -0.028710, -0.026450, -0.030966, -0.035491, -0.043451, -0.046857, -0.043451, -0.037760, -0.038333, -0.041178, -0.050273, -0.066852, -0.076622, -0.087030, -0.095724, -0.103260, -0.123135
#*# 	-0.087610, -0.001732, 0.001604, 0.006061, 0.004962, -0.000625, -0.007334, -0.011816, -0.009577, -0.007334, -0.007334, -0.005100, -0.014062, -0.026450, -0.045721, -0.050273, -0.054834, -0.067435, -0.076622, -0.093974
#*# 	-0.062851, 0.037059, 0.043103, 0.049133, 0.045841, 0.042552, 0.038164, 0.034862, 0.034862, 0.034862, 0.034862, 0.030453, 0.021620, 0.011633, 0.003836, -0.005100, -0.011816, -0.020803, -0.028710, -0.050273
#*# 	-0.029840, 0.058962, 0.061136, 0.066031, 0.065490, 0.062226, 0.057866, 0.053503, 0.055688, 0.057866, 0.050225, 0.039259, 0.031550, 0.026040, 0.018290, 0.013856, 0.004962, -0.007334, -0.014062, -0.028708
#*# 	-0.059403, 0.042008, 0.042552, 0.046942, 0.046942, 0.046391, 0.041456, 0.030453, 0.034862, 0.034862, 0.026040, 0.018290, 0.013856, 0.013856, 0.004399, 0.001604, -0.007334, -0.018556, -0.021942, -0.045721
#*# 	-0.054838, 0.034862, 0.037059, 0.037059, 0.039259, 0.037059, 0.034862, 0.028250, 0.024929, 0.019404, 0.009413, 0.002731, 0.003836, 0.003847, -0.000625, -0.002861, -0.014628, -0.021942, -0.033231, -0.046862
#*# 	-0.052550, 0.046391, 0.051317, 0.053503, 0.055688, 0.053503, 0.051317, 0.041456, 0.034862, 0.023834, 0.016071, 0.013856, 0.017192, 0.018290, 0.014963, 0.013856, 0.001604, 0.002167, -0.005100, -0.027563
#*# 	-0.055984, 0.028250, 0.032659, 0.037059, 0.034862, 0.030453, 0.026040, 0.016071, 0.011633, 0.002731, -0.001732, 0.001604, 0.002731, 0.009413, 0.004962, 0.007186, -0.001178, 0.000498, -0.007334, -0.029283
#*# 	-0.084716, 0.006061, 0.009413, 0.009413, 0.009413, 0.002731, -0.006203, -0.018556, -0.020803, -0.020803, -0.021942, -0.019125, -0.016305, -0.011816, -0.007334, -0.007334, -0.010710, -0.006231, -0.015752, -0.037760
#*# 	-0.091076, -0.011816, -0.011816, -0.009577, -0.018556, -0.028710, -0.037760, -0.045721, -0.042297, -0.037760, -0.037760, -0.038912, -0.032673, -0.028710, -0.026450, -0.026450, -0.028710, -0.024198, -0.030966, -0.052554
#*# 	-0.105586, -0.012383, -0.015198, -0.019693, -0.028710, -0.037760, -0.044566, -0.043451, -0.036642, -0.033231, -0.032115, -0.035491, -0.030966, -0.028710, -0.026450, -0.024198, -0.024198, -0.024754, -0.024198, -0.044566
#*# 	-0.077785, 0.004962, -0.005100, -0.007334, -0.011816, -0.015198, -0.018556, -0.018556, -0.014062, -0.014062, -0.016874, -0.017442, -0.009577, -0.006769, -0.001732, -0.003969, -0.009011, -0.007334, -0.014062, -0.025324
#*# 	-0.096291, -0.015198, -0.016305, -0.012950, -0.014062, -0.015198, -0.016305, -0.011816, -0.002861, -0.002861, -0.000625, -0.001743, 0.001604, 0.004962, 0.007186, 0.005511, 0.002731, -0.000625, -0.007334, -0.020803
#*# 	-0.136678, -0.052550, -0.052550, -0.045721, -0.047993, -0.047993, -0.045721, -0.041178, -0.037760, -0.033231, -0.034361, -0.037760, -0.030966, -0.028136, -0.026450, -0.033231, -0.035511, -0.035491, -0.040025, -0.047441
#*# 	-0.163370, -0.067435, -0.059403, -0.057115, -0.059403, -0.061688, -0.061688, -0.060565, -0.057695, -0.057115, -0.054834, -0.054834, -0.052550, -0.052550, -0.050273, -0.052550, -0.047993, -0.045144, -0.050273, -0.067435
#*# 	-0.178341, -0.087030, -0.077798, -0.074324, -0.078929, -0.078929, -0.079517, -0.077798, -0.077798, -0.076622, -0.078929, -0.080106, -0.078929, -0.076622, -0.078929, -0.080106, -0.078929, -0.076622, -0.081232, -0.093972
#*# 	-0.204263, -0.100937, -0.087030, -0.085850, -0.085850, -0.089341, -0.092790, -0.091653, -0.091653, -0.089341, -0.091653, -0.096291, -0.091653, -0.089341, -0.085873, -0.087030, -0.085850, -0.080080, -0.081232, -0.096291
#*# 	-0.248286, -0.157392, -0.147903, -0.140814, -0.140814, -0.145538, -0.146753, -0.142027, -0.140814, -0.143175, -0.140814, -0.140814, -0.133739, -0.133739, -0.126684, -0.125485, -0.126085, -0.118453, -0.110249, -0.114345
#*# min_x = 10.0
#*# min_y = 30.0
#*# max_x = 310.0
#*# max_y = 310.0
#*# x_count = 20
#*# y_count = 20
#*# mesh_x_pps = 0
#*# mesh_y_pps = 0
#*# algo = bicubic
#*# tension = 0.2
